/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  color: rgb(150, 99, 5);
}

.story-user {
  margin-left: 2em;
  color: rebeccapurple;
  display: block;
}

.story-hostname {
  color: rgb(3, 3, 58);
}

.delete{
  margin-left: 2em;
}
